/.vs
/RemotCtrl/.vs/RemotCtrl/v16/Browse.VC.db-shm
/RemotCtrl/.vs/RemotCtrl/v16/Browse.VC.db-wal
/RemotCtrl/.vs/RemotCtrl/v16/Browse.VC.opendb
/RemotCtrl/.vs/RemotCtrl/v16/Browse.VC.db
/RemotCtrl/.vs/RemotCtrl/v16/ipch/32bb0b1fb817c1cc.ipch
/RemotCtrl/.vs/RemotCtrl/v16/ipch/49ac647289c13923.ipch
/RemotCtrl/RemotCtrl/RemotCtrl.vcxproj.user
/RemotCtrl/.vs/RemotCtrl/v16/.suo
/RemotCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemotCtrl/RemotCtrl/RemotCtrl.aps
/RemotCtrl/RemoteClient/RemoteClient.aps
